body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-color: #111;
    background-size: cover;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

h1 {
    color: goldenrod;
    font-size: 75px;
}

#message-el {
    font-style: italic;
    font-size: 50px;
}
#cards-el{
    font-size: 35px;
    margin-bottom: 2px;
}
#sum-el{
    font-size: 35px;
    margin-bottom: 15px;
}
button {
    color: #fff;
    width: 350px;
    height: 80px;
    background: #1b1b1b;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 2px;
}
button:hover{
    background-color: #111;
}
.wrapper{
    /* margin: auto; */
    width: 100%;
    margin: auto;
    border-radius: 15px;
    height: 100%;
    width: fit-content;
    background-color: #888;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid #888;
}